#workflow-recent-drafts ul.status-draft,
#workflow-pending-drafts ul.status-pending {
    margin: 0;
    padding: 0;
    word-wrap: break-word;
    list-style: none outside none;
}

#workflow-recent-drafts ul.status-draft li,
#workflow-pending-drafts ul.status-pending li {
    margin-bottom: 1em;
}

#workflow-recent-drafts abbr,
#workflow-pending-drafts abbr,
#workflow-task-list abbr {
    color: #777;
    font-family: sans-serif;
    font-weight: normal;
    margin-left: 3px;
}

.priority-1,
.priority-2,
.priority-3 {
    border-bottom: 1px solid #eee;
    padding: 10px 12px 6px;    
}

.priority-1 {
    background: none repeat scroll 0 0 #f5f5f5;  
}

.priority-2 {
    background: none repeat scroll 0 0 #fffbcc;
}

.priority-3 {
    background: none repeat scroll 0 0 #ffece6;
}

#workflow-task-list .inside {
    margin-top: 0;
}

#workflow-task-list .inside,
#dashboard-right-now .inside {
    overflow: hidden;
    padding: 0;
}

#dashboard-right-now .main {
    overflow: hidden;
    padding: 0 12px 11px;
}

#dashboard-right-now .main p {
	margin: 0;
}

#dashboard-right-now ul {
    margin: 0;
	overflow: hidden;
}

#dashboard-right-now li {
    float: left;
    margin-bottom: 10px;
    width: 50%;
}

#dashboard-right-now .sub {
    background: none repeat scroll 0 0 #f5f5f5;
    border-top: 1px solid #eee;
    color: #777;
    padding: 10px 12px 6px;
}

#dashboard-right-now .sub p {
	margin: 0 0 .5em;
	font-size: 11px;
}

#dashboard-right-now .sub h4 {
	color: #555;
}

.mu-storage {
    overflow: hidden;
}

#dashboard-right-now li a:before,
#workflow-recent-drafts li a:before,
#workflow-pending-drafts li a:before {
	color: #888;
}

#dashboard-right-now .warning a:before,
#workflow-recent-drafts .warning a:before,
#workflow-pending-drafts .warning a:before {
	color: #d54e21;
}

#dashboard-right-now li a:before,
#workflow-recent-drafts li a:before,
#workflow-pending-drafts li a:before,
#published-posts li a:before,
#future-posts li a:before {
	content: '\f159';
	font: normal 20px/1 'dashicons';
	speak: none;
	display: block;
	float: left;
	margin: 0 5px 0 0;
	padding: 0;
	text-indent: 0;
	text-align: center;
	position: relative;
	-webkit-font-smoothing: antialiased;
	text-decoration: none !important;
}

#dashboard-right-now .post-count a:before,
#workflow-recent-drafts .post-draft a:before,
#workflow-pending-drafts .post-pending a:before,
#published-posts .post-activity a:before,
#future-posts .post-activity a:before {
	content: '\f109';
}

#dashboard-right-now .page-count a:before,
#workflow-recent-drafts .page-draft a:before,
#workflow-pending-drafts .page-pending a:before,
#published-posts .page-activity a:before,
#future-posts .page-activity a:before {
	content: '\f105';
}

#dashboard-right-now .comment-count a:before {
	content: '\f101';
}

#dashboard-right-now .comment-mod-count a:before {
	content: '\f125';
}

#dashboard-right-now .storage-count a:before,
#dashboard-right-now .attachment-count a:before {
	content: '\f104';
}

#dashboard-right-now .storage-count.warning a:before {
	content: '\f153';
}

#dashboard-right-now .event-count a:before {
	content: "\f469";
}

#dashboard-right-now .studienangebot-count a:before {
	content: "\f118";
}

#future-posts .show-more {
	float: right;
}

#future-posts ul {
	clear: both;
}

#future-posts ul span {
	color: #aaa;
}

.no-results {
    padding: 10px 12px 6px;    
}

.no-results-np {
    padding: 0;
}

.showing_dropdown {
    position: inherit !important;
}

.hiding_dropdown {
    position: absolute !important;
}

.ms-choice {
    height: 28px;
    line-height: 28px;
    padding: 2px;
    vertical-align: middle;
    border-radius: 0;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07) inset;
    color: #333;
    outline: 0 none;
    transition: border-color 0.05s ease-in-out 0s;    
}

.ms-drop {
    background: none repeat scroll 0 0 #fff;
    border-radius: 0;
    border: 1px solid #ddd;
    color: #333;
    display: none;
    margin-top: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 100%;
    z-index: 1000;
}
