.status-draft {
    background: #ffffe0 !important;
}

.status-future {
    background-color: #E9F2D3 !important;
}

.status-publish {
}

.status-pending {
    background-color: #D3E4ED !important;
}

.status-private {
    background-color: #FFECE6 !important;
}

.post-password-required {
    background-color: #ff9894 !important;
}

.status-trash {
    background-color: #FFEBE8 !important;
}

.version a:before,
.version span:before {
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    font: normal 16px/1 'dashicons';
    vertical-align: top;
    margin: 3px 5px 0 0;
}

.version a.import:before {
    content: "\f340";
}

.version a.export:before {
    content: "\f344";
}

.version span.translation:before {
    content: "\f326";
}