.task-item-content {
    display: none; 
    margin-left: 10px;
}

.task-item-content p {
    margin: 0.5em 0;
}

.task-content-body {
    margin-top: 2px;
}

p.task-description {
    margin-right: 0.2em;
}

.task-added {
    color: #999999;
    font-family: sans-serif;
    font-weight: normal;
}

.task-assigned,
.task-priority {
    font-weight: bold;
}

.marked_as_done {
    font-style: italic;
}

#task-list-new-content {
    display: none;
}

h4 a#task-list-new {
    color: #21759B;
}

a.task-item-link {
    font-weight: bold; 
}

.new-task-submit {
    margin-top: 5px;
}

#new-task-loading {
    display: none;
}

.task-list-content-error {
    display: none; 
    color: red; 
    font-weight: bold; 
}

#new-task-error {
    display: none;
}

.task-error {
    margin: 5px 0 5px;
    padding: 0 0.6em;
    background-color: #FFEBE8;
    border-color: #CC0000;   
    border-radius: 3px 3px 3px 3px;
    border-style: solid;
    border-width: 1px;    
}

.task-error p {
    margin: 0.5em 0;
    padding: 2px;
    font-weight: bold;
}
